<Files "koneksi.php">
    Require all denied
</Files>

<Files "maintenance_access.php">
    Require all denied
</Files>

<Files "check_connection.php">
    Require all denied
</Files>

<Files "check_maintenance.php">
    Require all denied
</Files>


ErrorDocument 404 /nganjukvisit/error404.php
ErrorDocument 403 /nganjukvisit/error403.php
