<Files "config.php">
    Require all denied
</Files>

<Files "key.php">
    Require all denied
</Files>

<Files "encryption_helper.php">
    Require all denied
</Files>

ErrorDocument 403 /config/error403.php